<div class="search-bar">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <input type="text" placeholder="Procure um jogo" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.nome}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!--   <button mat-icon-button class="example-icon favorite-icon" matTooltip="Cadastrar jogo" (click)="filtrar()">
            <mat-icon matBadgeColor="warn">search</mat-icon>
        </button> -->
    </form>
</div>
<div class="container-card">
    <mat-card class="example-card" *ngFor="let option of filteredOptions | async" [value]="option">
        <mat-card-header class="teste-pai">
            <mat-card-title (click)="toReviews(option.nome)">{{option.nome}} </mat-card-title>
            <mat-card-subtitle>
                <div>
                    <span><span style="font-weight: bold;">Desenvolvedor:</span> {{option.desenvolveror}}</span>
                </div>
                <div>
                    <span><span style="font-weight: bold;">Gênero:</span> {{option.genero}}</span>
                </div>
                <div>
                    <span><span style="font-weight: bold;">Avaliação:</span> {{option.avaliacao}}</span>
                </div>
            </mat-card-subtitle>
        </mat-card-header>
        <div class="mat-content" (click)="toReviews(option.nome)">
            <img mat-card-image src="{{option.url}}" class="imagem-produto">
            <mat-card-content>
                <span style="font-weight: bold;">Resumo: </span>
                <p>
                    {{option.resumo}}
                </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>