<div class="container-card">
    <mat-card class="xbox-card" [routerLink]="['xbox']">
        <div class="mat-content">
            <mat-card-content>
                <p class="paragrafo">
                    Xbox
                </p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="playstation-card" [routerLink]="['playstation']">
        <div class="mat-content">
            <mat-card-content>
                <p class="paragrafo">
                    Playstation
                </p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="switch-card" [routerLink]="['switch']">
        <div class="mat-content">
            <mat-card-content>
                <p class="paragrafo">
                    Switch
                </p>
            </mat-card-content>
        </div>
    </mat-card>
    <mat-card class="pc-card" [routerLink]="['pc']">
        <div class="mat-content">
            <mat-card-content>
                <p class="paragrafo">
                    PC
                </p>
            </mat-card-content>
        </div>
    </mat-card>
</div>